<div class="row">
    <div class="col">
        <h2 class="ml-3">SmartPool</h2>
    </div>
    <div class="col">
        <p class="float-right mt-3">
            <a href="/dashboard" class="mr-3">Dashboard</a>
            <a href="/logout" class="mx-3"> Logout</a></p>
    </div>
</div>