<div class="row">
    <div class="col">
        <h2>SmartPool</h2>
    </div>
    <div class="col">
        <p class="float-right">
            <a href="/dashboard" class="mr-4">Dashboard</a>
            <a href="/logout" class="ml-4"> Logout</a></p>
    </div>
</div>
