<div class="row mt-4">
    <div>
        <img class="d-inline" src="https://via.placeholder.com/150">
        <img class="d-inline" src="https://via.placeholder.com/150">
        <img class="d-inline" src="https://via.placeholder.com/150">
        <img class="d-inline" src="https://via.placeholder.com/150">
    </div>
</div>
<div class="row mt-4">
    <div class="col-8">
        <h4>Full Carpool Schedule</h4>
        <hr>
        <h5>Carpool Name:  Bill and Ted's Excellent Adventure</h5>
        <p><span class="font-weight-bold">Description:</span> Two friends who work in Bellevue, need 1 more to add to our pool</p>
    </div>
    <div class="col-4">
        <a href="" class="mb-0 btn btn-success p-3">Request to Join</a>
    </div>
        <table class="mt-4 table table-bordered">
            <thead>
                <th scope="col-2">Day</th>
                <th scope="col-2">Arrive By</th>
                <th scope="col-2">Destination</th>
                <th scope="col-2">City</th>
            </thead>
            <tbody>
                <tr>
                    <td scope="col-3">Monday</td>
                    <td scope="col-3">8:00AM</td>
                    <td scope="col-3">Bellefield Office Park</td>
                    <td scope="col-3">Bellevue</td>
                </tr>
                <tr>
                    <td scope="col-3">Monday</td>
                    <td scope="col-3">5:00PM</td>
                    <td scope="col-3">Bellevue</td>
                    <td scope="col-3">Bellefield Office Park</td>
                </tr>
                <tr>
                    <td scope="col-3">Tuesday</td>
                    <td scope="col-3">8:00AM</td>
                    <td scope="col-3">Bellefield Office Park</td>
                    <td scope="col-3">Bellevue</td>
                </tr>
                <tr>
                    <td scope="col-3">Monday</td>
                    <td scope="col-3">8:00AM</td>
                    <td scope="col-3">Bellefield Office Park</td>
                    <td scope="col-3">Bellevue</td>
                </tr>

            </tbody>
    </table>
</div>