@model Carpool
<partial name="_Nav"/>
<hr>
<h3>@Model.Name</h3>
<div class="row mt-4">
    <div>
        <img class="d-inline" src="https://via.placeholder.com/150">
        <img class="d-inline" src="https://via.placeholder.com/150">
        <img class="d-inline" src="https://via.placeholder.com/150">
        <img class="d-inline" src="https://via.placeholder.com/150">
        <a href="" class="ml-4 btn btn-success p-3">Request to Join</a>
    </div>
</div>
<div class="row mt-4">
    <h4>Full Carpool Schedule</h4>
        <table class="mt-4 table table-bordered">
        <tbody>
            <tr>
                <td scope="col-3">Mon</td>
                <td scope="col-3">8:00AM</td>
                <td scope="col-3"><a href="">Lynnwood Park and Ride to Bellefield Office Park</a></td>
            </tr>
            <tr>
                <td scope="col-3">Tues</td>
                <td scope="col-3">8:00AM</td>
                <td scope="col-3"><a href="">Lynnwood Park and Ride to Bellefield Office Park</a></td>
            </tr>
            <tr>
                <td scope="col-3">Wed</td>
                <td scope="col-3">9:00AM</td>
                <td scope="col-3"><a href="">Lynnwood Park and Ride to Downtown Seattle</a></td>
            </tr>
            <tr>
                <td scope="col-3">Mon</td>
                <td scope="col-3">8:00AM</td>
                <td scope="col-3"><a href="">Lynnwood Park and Ride to Bellefield Office Park</a></td>
            </tr>
            <tr>
                <td scope="col-3">Mon</td>
                <td scope="col-3">10:00AM</td>
                <td scope="col-3"><a href="">Lynnwood Park and Ride to Redmond 24hr Fitness</a></td>
            </tr>
        </tbody>
    </table>
</div>