<partial name="_Nav"/>
<hr>
<div class="row">
    <div class="col">
        <h4 class="d-block bg-success p-3 text-light text-center rounded">Carpool Details</h4>
        <h3 class="mt-4">Carpool Name:  Bill and Ted's Excellent Adventure</h3>
        <p><span class="font-weight-bold">Description:</span> Two friends who work in Bellevue, need 1 more to add to our pool</p>
        <div class="mt-4">
        <a href="" class="mb-0 d-inline btn btn-success p-3">Request to Join</a>
        <a href="" class="mb-0 d-inline btn btn-info p-3">Contact Pool Creator</a>
        </div>

    </div>


</div>
<div class="row mt-4">
    <div class="col">
        <div class="mt-4">
            <p>Riders in this pool:</p>
            <img class="d-inline" src="https://via.placeholder.com/150">
            <img class="d-inline" src="https://via.placeholder.com/150">
            <img class="d-inline" src="https://via.placeholder.com/150">
            <img class="d-inline" src="https://via.placeholder.com/150">
        </div>
        <div class="mt-4">
            <p>Pool schedule:</p>
            <table class="mt-4 table table-bordered">
                <thead>
                    <th scope="col-2">Day</th>
                    <th scope="col-2">Arrive By</th>
                    <th scope="col-2">Destination</th>
                    <th scope="col-2">City</th>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col-3">Monday</td>
                        <td scope="col-3">8:00AM</td>
                        <td scope="col-3">Bellefield Office Park</td>
                        <td scope="col-3">Bellevue</td>
                    </tr>
                    <tr>
                        <td scope="col-3">Monday</td>
                        <td scope="col-3">5:00PM</td>
                        <td scope="col-3">Bellevue</td>
                        <td scope="col-3">Bellefield Office Park</td>
                    </tr>
                    <tr>
                        <td scope="col-3">Tuesday</td>
                        <td scope="col-3">8:00AM</td>
                        <td scope="col-3">Bellefield Office Park</td>
                        <td scope="col-3">Bellevue</td>
                    </tr>
                    <tr>
                        <td scope="col-3">Monday</td>
                        <td scope="col-3">8:00AM</td>
                        <td scope="col-3">Bellefield Office Park</td>
                        <td scope="col-3">Bellevue</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>