<partial name="_Nav"/>
<hr>
<div class="row">
    <div class="col">
        <table class="mt-4 table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col-3">Commute Day</th>
                    <th scope="col-3">Arrival</th>
                    <th scope="col-3">Start Point</th>
                    <th scope="col-3">End Point</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col-3">Mon</td>
                    <td scope="col-3">8:00AM</td>
                    <td scope="col-3"><a href="">Bellevue</a></td>
                    <td scope="col-3"><a href="">Seattle</a></td>
                </tr>
                <tr>
                    <td scope="col-3">Mon</td>
                    <td scope="col-3">8:00AM</td>
                    <td scope="col-3"><a href="">Bellevue</a></td>
                    <td scope="col-3"><a href="">Seattle</a></td>
                </tr>
                <tr>
                    <td scope="col-3">Mon</td>
                    <td scope="col-3">8:00AM</td>
                    <td scope="col-3"><a href="">Bellevue</a></td>
                    <td scope="col-3"><a href="">Seattle</a></td>
                </tr>
                <tr>
                    <td scope="col-3">Mon</td>
                    <td scope="col-3">8:00AM</td>
                    <td scope="col-3"><a href="">Bellevue</a></td>
                    <td scope="col-3"><a href="">Seattle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=bellevue%2C%20wa&key=AIzaSyBHgUzRMiC3ijP03NQFqupHlPljcL8smdE" allowfullscreen></iframe>
    </div>
</div>
<partial name="_CarpoolSchedule"/>