<partial name="_Nav"/>
<hr>
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <h5>Welcome, Carmine</h5>
        <a href="/my_profile" class="p-3 text-center d-block mt-4 btn btn-secondary">My Profile</a>
        <a href="/my_schedule" class="p-3 text-center d-block mt-2 btn btn-info">My Schedule</a>
        <a href="/create-commute" class="p-3 text-center d-block mt-2 btn btn-primary">Commutes</a>
        
    </div>
    <div class="col-4"></div>
</div>