@model User
<div class="row">
    <div class="col">
        <h2 class="ml-3">SmartPool</h2>
    </div>
    <div class="col">
        <p class="float-right mt-3">
            <a href="/logout" class="mr-3"> Logout</a></p>
    </div>
</div>
<hr>
<div class="col-12 justify-content-center">
    <div class="row justify-content-center">
        <h4>Welcome, @Model.FirstName!</h5>
    </div>
    <div class="row justify-content-center">
        <a href="/profile" class="p-3 text-center d-block mt-4 btn btn-secondary" style="min-width: 330px;">My Profile</a>
    </div>
    <div class="row justify-content-center">
        <a href="/my_schedule" class="p-3 text-center d-block mt-2 btn btn-info" style="min-width: 330px;">My Schedule</a>
    </div>
    <div class="row justify-content-center">
        <a href="/create-commute" class="p-3 text-center d-block mt-2 btn btn-primary" style="min-width: 330px;">Create a Commute</a>
    </div>
    <div class="row justify-content-center">
        <a href="/commutes" class="p-3 text-center d-block mt-2 btn btn-success" style="min-width: 330px;">View/Join Carpools</a>
    </div>
</div>