<div class="row justify-content-md-center">
    <h1 class="d-block">SmartPool</h1>
</div>
<div class="row justify-content-md-center">
    <h5 class="d-block">Save money, make friends, beat the traffic!</h5>
</div>
<div class="row justify-content-md-center">
    <h5 class="d-block">Carpooling app where you make the rules!</h5>
</div>
<div class="row justify-content-md-center">
    <partial name="LogPartial"></partial>
</div>
<div class="mt-2 row justify-content-md-center">
    <a href="/registration">Register Here</a>
</div>