@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <title>SmartPool</title>
    </head>
    <body class="splashpage">
        <div class="row">
            <div class="col-1"></div>
            
            <div class="col-10 splashimage border border-white">
                <!-- <img src="~/images/splash5.png" class="border border-white" width="500px"> -->
                <div class="row" style="padding-bottom: "></div>
                <div class="text-center mb-3">
                    <partial name="_LogForm"/>
                    <a href="/registration">Register Here</a>
                    <h4 class="mt-4 text-center text-white">The carpooling app where you make the rules!</h4>
                </div>
            </div>
        
            <div class="col-1"></div>
        </div>


        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center">
        </div>
    </body>
</html>